// variables
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Satisfy&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

// color
$color-white: #ffffff;
$color-offWhite: #fbf9fa;
$color-lightOffWhite: #f8f7f8;
$color-palePink: #f5eded;
$color-lightPalePink: #f8ecec;
$color-brightRed: #fd0054;
$color-lightBrightRed: #ff4c70;
$color-darkRed: #d72323;
$color-lightDarkRed: #e04d4d;
$color-deepRed: #a80038;
$color-lightDeepRed: #b7474f;
$color-charcoal: #3e3636;
$color-lightCharcoal: #494141;
$color-darkMaroon: #2b2024;
$color-lightDarkMaroon: #3a2f32;
$color-black: #000000;
$color-lightGrey: #dcdcdc;
$color-mediumGrey: #4d4d4e;
$color-darkGrey: #333333;
$color-veryDarkBlack: #080808;
$color-darkBlack: #121212;
$color-mediumBlack: #1b1b1b;
$color-lightBlack: #292929;

// font-family
$font-ubuntu: "Ubuntu", sans-serif;
$font-satisfy: "Satisfy", cursive;
$font-fraunces: "Fraunces", serif;
$font-sacramento: 'Sacramento', cursive;
