@use "../../styles/variables.scss";

.layout {
  display: flex;
}

.side {
  flex: 0 0 70px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  background: variables.$color-mediumBlack;
}
.page {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  .container {
    height: 100vh;
    will-change: contents;
    min-width: 270px;
    transform-style: preserve-3d;
    animation: fade 1s forwards;
    animation-delay: 1s;
  }
}
